[submodule "app/chord-generator"]
	path = app/chord-generator
	url = https://github.com/mkmatheson/chord-generator.git
[submodule "app/daily-goals"]
	path = app/daily-goals
	url = https://github.com/mkmatheson/daily-goals.git
[submodule "app/guitar-note-guesser"]
	path = app/guitar-note-guesser
	url = https://github.com/mkmatheson/guitar-note-guesser.git
